<header>
  <nav>
    <%= link_to 'View In Categories', categories_path %>
    <%= link_to 'View All Proucts', products_path %>
    <a href="/about">About Us</a>
    <a href="/contact">Contact Us</a>
  </nav>
  <p><%=link_to "View My Shopping Cart", "/cart/cart" %></p>
<br>
<div class = "search_box">

  <%= form_tag(search_search_result_path, :method => "get", id: "search_form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", required:true %>
        <% cat_array = ["Overall"]%>
        <% cat_array += Category.all.map { |cat| [cat.name, cat.id] } %>

        <%= select_tag(:category_id, options_for_select(cat_array)) %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

</header>
